/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
}

/* LOGO STYLES */

.logo-container {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-container a {
  text-align: center;
}

/* ABOUT IMG STYLES */

.about-header {
  height: 45vh;
  width: 100vw;
  background-image: url("img/about.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

 h1 {
  font-size: 30px;
  color: black;
  text-transform: uppercase;
}

/* ABOUT STLYES */

.about {
  width: 75vw;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  border-bottom: 5px double black;
  text-align: center;
  width: 50vw;
  margin: 30px auto;
}

.about p {
  text-align: center;
  margin: 20px;
}

@media only screen and (max-width: 450px) {
  .logo-container {
    width: 90%;
  }
  .logo-container img {
    width: 90%;
  }
}
